@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.wrapper {
  display: flex;
  align-items: center;
}

.checkboxRoot {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 1px solid $color-neutral-100;
  flex-shrink: 0;

  &.neutral {
    border-color: $color-neutral-400;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px $color-generic-black;
  }

  &[data-state='checked'],
  &[data-state='indeterminate'] {
    background-color: $color-neutral-600;
    border-color: $color-neutral-600;
  }

  &[data-disabled] {
    opacity: 0.5;
  }

  &[aria-invalid='true'] {
    border-color: $color-destructive-600;

    &:focus {
      box-shadow: 0 0 0 4px $color-destructive-100;
    }
  }

  &:hover:not([data-disabled]) {
    opacity: 0.7;
    cursor: pointer;
  }
}

.checkboxIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-generic-white;
}

.label {
  @include paragraph-x-small();
  color: $color-neutral-300;
  margin-left: 6px;

  &.success {
    color: $color-success-600;
  }

  &.alert {
    color: $color-alert-600;
  }

  &.neutral {
    color: $color-generic-white;
  }

  a {
    color: $color-primary-1-600;
    font-weight: 600;
  }
}
