.tableCell {
  padding: 12px 32px 12px 16px;

  .content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
  }

  .label {
    display: block;
    @include body-base();
    color: var(--color-foreground);
    padding-top: 2px;
  }
}
