@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.breadcrumbs {
  display: flex;
  align-items: center;

  > :not(:last-child) {
    margin-right: 16px;
  }
}

.breadcrumb {
  display: block;
  @include paragraph-x-small();
  font-weight: 600;
  color: $color-neutral-700;

  span {
    &:last-child {
      display: none;
    }
  }

  &.link {
    color: $color-primary-1-600;
  }
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .breadcrumb:not(:first-child):not(:last-child) {
    span {
      &:first-child {
        display: none;
      }
      &:last-child {
        display: inline;
      }
    }
  }
}
