@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.popoverContent {
  border-radius: 4px;
  background-color: $color-generic-white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  outline: none;
  z-index: 3;
}

.popoverClose {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0 4px;

  span {
    display: block;
    padding: 0 4px;
    @include paragraph-small();
    font-weight: 600;
    color: $color-neutral-500;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px $color-generic-black;
  }
}

.popoverArrow {
  fill: $color-generic-white;
}
