@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.tableCell {
  padding: 12px 32px 12px 16px;

  .label {
    display: block;
    @include paragraph-medium();
    color: $color-neutral-800;
  }

  .details {
    display: block;
    @include paragraph-x-small();
    color: $color-neutral-600;
  }

  &.primary {
    .label {
      color: $color-primary-1-600;
    }
  }
}
