@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.tableCell {
  padding: 12px 32px 12px 16px;

  .label {
    display: block;
    @include paragraph-medium();
    color: $color-neutral-800;
  }

  .details {
    display: block;
    @include paragraph-x-small();
    color: $color-neutral-600;
  }

  &.primary {
    .label {
      color: $color-primary-1-600;
      font-weight: 600;
    }
  }

  &.bubble {
    .label {
      @include bubble-label();
      display: inline-flex;
    }
  }
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .tableCell {
    padding: 12px 16px;
  }
}
