@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.timestampSlider {
  flex-direction: column;
  align-items: stretch;
  gap: 0;

  .label {
    display: block;
    @include paragraph-xx-small();
    font-weight: 600;
    color: $color-generic-white;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .labels {
    display: flex;
    justify-content: space-between;

    .label {
      color: $color-neutral-300;
    }
  }

  .sliderRoot {
    all: unset;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 24px;

    &:not([data-disabled]) {
      cursor: pointer;
    }
  }

  .sliderTrack {
    position: relative;
    background-color: $color-neutral-400;
    flex-grow: 1;
    border-radius: 2px;
    height: 4px;
  }

  .sliderRange {
    position: absolute;
    background-color: $color-neutral-400;
    border-radius: 2px;
    height: 100%;
  }

  .sliderThumb {
    all: unset;
    position: relative;
    display: block;
    box-sizing: border-box;
    transform: translateY(calc(50% + 2px));

    .label {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%) translateY(calc(-100% - 12px));
    }

    svg {
      vertical-align: middle;
    }
  }
}
