@import 'design-system/variables/colors.scss';

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);

  &.alignTop {
    top: 8px;
  }

  &.alignBottom {
    bottom: 8px;
  }
}
