@import 'design-system/variables/variables.scss';
@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mapControls {
  display: flex;
  gap: 16px;
  justify-content: space-between;
}

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .mapControls {
    flex-direction: column;
    align-items: flex-start;
  }
}
