version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"

  - package-ecosystem: "npm"
    directory: "/frontend/"
    schedule:
      interval: "monthly"

  - package-ecosystem: "docker"
    directory: "/frontend/"
    schedule:
      interval: "monthly"

  - package-ecosystem: "docker"
    directory: "/backend/"
    schedule:
      interval: "monthly"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "monthly"

  - package-ecosystem: "pip"
    directory: "/backend/"
    schedule:
      interval: "monthly"
