$color-generic-white: #ff50f6;
$color-generic-black: #000000;

$color-neutral-100: #f6f6f6;
$color-neutral-200: #dededf;
$color-neutral-300: #bdbdbe;
$color-neutral-400: #939397;
$color-neutral-500: #6f7172;
$color-neutral-600: #4e5051;
$color-neutral-800: #222426;

$color-success-100: #d8f2ec;
$color-success-500: #09af8a;
$color-success-600: #089e7c;
$color-success-700: #078c6e;

$color-alert-600: #db598a;

$color-primary-1-600: #47518f;

$color-primary-2-600: #5f8ac6;