$color-generic-white: #ffffff;
$color-generic-black: #000000;

$color-neutral-50: #f6f6f6;
$color-neutral-100: #f0f0f0;
$color-neutral-200: #dededf;
$color-neutral-300: #bdbdbe;
$color-neutral-400: #939397;
$color-neutral-500: #6f7172;
$color-neutral-600: #4e5051;
$color-neutral-800: #222426;
$color-neutral-900: #111213;

$color-success-100: #d8f2ec;
$color-success-500: #09af8a;
$color-success-600: #089e7c;
$color-success-700: #078c6e;

$color-destructive-100: #fee2e2;
$color-destructive-500: #ef4444;
$color-destructive-600: #dc2626;

$color-warning-500: #f59e0b;

$color-alert-600: #db598a;

$color-primary-1-600: #47518f;

$color-primary-2-50: #f4f8fe;
$color-primary-2-500: #77adf8;
$color-primary-2-600: #5f8ac6;
