@import 'src/design-system/variables/variables.scss';

@mixin heading-small {
  font-family: 'Mazzard', sans-serif;
  font-size: 32px;
  line-height: 34px;
  font-weight: 500;
}

@mixin body-xlarge {
  font-family: 'Mazzard', sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

@mixin body-large {
  font-family: 'Mazzard', sans-serif;
  font-size: 18px;
  line-height: 22px;
}

@mixin body-base {
  font-family: 'Mazzard', sans-serif;
  font-size: 16px;
  line-height: 20px;
}

@mixin body-small {
  font-family: 'Mazzard', sans-serif;
  font-size: 14px;
  line-height: 18px;
}

@mixin body-overline {
  font-family: 'Mazzard', sans-serif;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}

@mixin body-overline-small {
  font-family: 'Mazzard', sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
}

@mixin bubble-label {
  font-size: 16px;
  line-height: 20px;

  @media not print {
    display: inline-flex;
    height: auto;
    border-radius: 4px;
    padding: 6px 8px 4px;
    background-color: #f5f9ff;
    color: var(--color-primary);
    font-weight: 600;
  }
}
