/*
 * Screen size definitions:
 * Small screen:    <= 720px
 * Medium screen:   > 720px && <= 1024px
 * Large screen:    > 1024px && <= 1440px
 * Large+ screen:   > 1440px
 */

$small-screen-breakpoint: 720px;
$medium-screen-breakpoint: 1024px;
$large-screen-breakpoint: 1440px;

/* Other */
$page-min-width: 320px;

$dialog-header-height: 72px;
$dialog-header-height-small: 64px;
