$color-generic-white: #ffffff;

$color-success-100: #d8f2ec;
$color-success-500: #09af8a;
$color-success-700: #078c6e;

$color-neutral-200: #dededf;
$color-neutral-500: #6f7172;
$color-neutral-600: #4e5051;
$color-neutral-800: #222426;

$color-primary-1-600: #47518f;

$color-primary-2-600: #5f8ac6;
