@font-face {
  font-family: 'AzoSans';
  src: url('./fonts/AzoSans/AzoSans.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AzoSans';
  src: url('./fonts/AzoSans/AzoSans-Italic.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'AzoSans';
  src: url('./fonts/AzoSans/AzoSans-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@mixin paragraph-small {
  font-family: 'AzoSans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@mixin paragraph-xx-small {
  font-family: 'AzoSans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
}
