volumes:
  ami_local_postgres_data: {}
  ami_local_postgres_data_backups:
    driver: local
    driver_opts:
      type: none
      device: ./data/db/snapshots
      o: bind
  minio_data:
    driver: local
  node_modules:

services:
  django: &django
    build:
      context: .
      dockerfile: ./compose/local/django/Dockerfile
    image: ami_local_django
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - postgres
      - redis
      - nats
      - minio-init
      - ml_backend
      - rabbitmq
    volumes:
      - .:/app:z
    env_file:
      - ./.envs/.local/.django
      - ./.envs/.local/.postgres
      - path: .env
        required: false
    ports:
      - "8000:8000"
    command: /start
    networks:
      - default
      - antenna_network

  postgres:
    build:
      context: .
      dockerfile: ./compose/local/postgres/Dockerfile
    ports:
      - "5444:5432"
    volumes:
      - ami_local_postgres_data:/var/lib/postgresql/data
      - ami_local_postgres_data_backups:/backups
    env_file:
      - ./.envs/.local/.postgres

  ui:
    image: ami_local_ui
    build:
      context: ./ui
      dockerfile: ../compose/local/ui/Dockerfile
    ports:
      - "4000:4000"
    depends_on:
      - django
    environment:
      - API_PROXY_TARGET=http://django:8000

  ui-dev:
    profiles:
      - ui-dev
    build:
      context: ./ui
      dockerfile: ../compose/local/ui/Dockerfile
    ports:
      - "4000:4000"
    depends_on:
      - django
    volumes:
      - ./.git:/app/.git:ro
      - ./ui:/app
    entrypoint:
      [
        "sh",
        "-c",
        "yarn install && yarn start --debug --host 0.0.0.0 --port 4000",
      ]
    environment:
      - API_PROXY_TARGET=http://django:8000
      - CHOKIDAR_USEPOLLING=true

  redis:
    image: redis:6
    container_name: ami_local_redis

  nats:
    image: nats:2.10-alpine
    container_name: ami_local_nats
    hostname: nats
    ports:
      - "4222:4222" # Client port
      - "8222:8222" # HTTP monitoring port
    command: ["-js", "-m", "8222"] # Enable JetStream and monitoring
    healthcheck:
      test: ["CMD", "wget", "--spider", "-q", "http://localhost:8222/healthz"]
      interval: 10s
      timeout: 5s
      retries: 3

  celeryworker:
    <<: *django
    image: ami_local_celeryworker
    scale: 1
    ports: []
    command: /start-celeryworker
    depends_on:
      - rabbitmq

  celerybeat:
    <<: *django
    image: ami_local_celerybeat
    ports: []
    command: /start-celerybeat

  flower:
    <<: *django
    image: ami_local_flower
    ports:
      - "5555:5555"
    command: /start-flower
    volumes:
      - ./data/flower/:/data/

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    env_file:
      - ./.envs/.local/.django
    networks:
      - antenna_network

  minio:
    image: minio/minio:RELEASE.2024-11-07T00-52-20Z
    command: minio server --console-address ":9001" /data
    volumes:
      - "minio_data:/data"
    env_file:
      - ./.envs/.local/.django
    environment:
      - CONSOLE_SECURE_TLS_REDIRECT=off
    ports:
      - "9001:9001"
    healthcheck:
      test: ["CMD", "mc", "ready", "local"]
      interval: 5s
      timeout: 5s
      retries: 5

  minio-proxy:
    image: nginx:alpine
    ports:
      - "9000:9000"
    volumes:
      - ./compose/local/minio/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - minio

  minio-init:
    image: minio/mc:RELEASE.2025-03-12T17-29-24Z
    env_file:
      - ./.envs/.local/.django
    depends_on:
      - minio
      - minio-proxy
    volumes:
      - ./compose/local/minio/init.sh:/etc/minio/init.sh
    entrypoint: /etc/minio/init.sh

  ml_backend:
    build:
      context: ./processing_services/example
    volumes:
      - ./processing_services/example/:/app
    ports:
      - "2005:2000"
    networks:
      default:
        aliases:
          - processing_service

networks:
  antenna_network:
    name: antenna_network
