@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.infoLabel {
  display: block;
  @include paragraph-small();
  font-weight: 600;
  color: $color-neutral-500;
}
