@import 'design-system/variables/colors.scss';

.loadingSpinner {
  display: inline-block;
  border-style: solid;
  border-color: $color-primary-2-500;
  border-top-color: $color-primary-2-50;
  border-radius: 50%;
  animation: spin 0.7s ease-in-out infinite;
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
