@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;

  &.light {
    color: $color-generic-white;
  }

  &.dark {
    color: $color-neutral-800;
  }

  &.neutral {
    color: $color-neutral-500;
  }

  &.primary {
    color: $color-primary-1-600;
  }

  &.success {
    color: $color-success-700;
  }

  &.error {
    color: $color-destructive-600;
  }

  &.fixedSized {
    > * {
      width: 100%;
      height: 100%;
    }
  }
}
