@import 'design-system/variables/variables.scss';
@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  position: relative;
}

.title {
  @include label();
  font-weight: 600;
  color: $color-neutral-500;
}

.description {
  @include paragraph-small();
  color: $color-neutral-800;
}

.formActions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
