@import 'design-system/variables/variables.scss';
@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.card {
  background-color: $color-primary-2-50;
  width: 100%;
  border: 1px solid $color-neutral-100;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.cardContent {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
