@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;

  .profileImage {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: $color-generic-white;
    border: 1px solid $color-neutral-100;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .username {
    display: block;
    @include paragraph-x-small();
    font-weight: 600;
    text-transform: uppercase;
    color: $color-primary-1-600;
  }
}

.details {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  @include mono();
  color: $color-neutral-600;
}
