@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';
@import 'src/design-system/variables/variables.scss';

.section {
  margin: 32px;
  box-sizing: border-box;

  &:not(:last-child) {
    padding-bottom: 32px;
    border-bottom: 1px solid $color-neutral-100;
  }
}

.sectionHeader {
  margin: 0 0 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sectionTitle {
  @include paragraph-large();
  color: $color-neutral-700;
  font-weight: 600;
  margin: 0;
}

.sectionDescription {
  display: block;
  @include paragraph-small();
  color: $color-neutral-300;
  font-style: italic;
  word-break: break-word;
  margin: 0;
}

.sectionContent {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.sectionRow {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  gap: 32px;
}

.formActions {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.formError {
  width: 100%;
  @include paragraph-x-small();
  padding: 8px 32px;
  background-color: $color-destructive-100;
  color: $color-destructive-600;
  box-sizing: border-box;

  &.inDialog {
    position: sticky;
    top: $dialog-header-height;
    z-index: 1;
  }
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .section {
    margin: 16px;

    &:not(:first-child) {
      padding-top: 16px;
    }
  }

  .sectionHeader {
    margin: 0 0 16px;
  }

  .sectionContent {
    gap: 16px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  .sectionRow {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .formError {
    padding: 8px 16px;

    &.inDialog {
      top: $dialog-header-height-small;
    }
  }
}
