.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 4px 8px 2px;
  border-radius: 2px;
  background-color: var(--color-secondary-50);
  @include body-small();
  color: var(--color-foreground);
}
