@import 'design-system/variables/colors.scss';

.header {
  position: sticky;
  z-index: 1;
  background-color: $color-neutral-50;
  padding: 0 100px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.topBar {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.page {
  background-color: $color-neutral-50;
  width: 100%;
  height: calc(100vh - 140px);
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
}

.content {
  margin: 50px 100px;
  display: inline-block;
}
