@import 'design-system/variables/colors.scss';

.header {
  background-color: $color-generic-white;
  height: 64px;
  border-bottom: 1px solid $color-neutral-200;
  box-sizing: border-box;
}

.page {
  background-color: $color-neutral-50;
  height: calc(100vh - 64px);
  padding: 0 100px;
  overflow-y: auto;
  overflow-x: hidden;
}
