@import 'design-system/variables/colors.scss';

.header {
  position: sticky;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: $color-neutral-50;
  padding: 0 100px;
  height: 120px;
}

.page {
  background-color: $color-neutral-50;
  width: 100%;
  height: calc(100vh - 120px);
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
}

.content {
  margin: 50px 100px;
  display: inline-block;
}
