body {
  margin: 0;
  font-family: 'AzoSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button,
fieldset,
input,
li,
ul {
  all: unset;
}
