@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.wrapper {
  width: auto !important;
  min-width: 180px;
  padding: 20px;
  box-sizing: border-box;
}

.description {
  display: block;
  @include paragraph-small();
  font-weight: 600;
  color: $color-neutral-300;
  margin-bottom: 16px;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
