@import 'src/design-system/variables/typography.scss';

.wrapper {
  width: auto !important;
  min-width: 180px;
  padding: 24px;
  box-sizing: border-box;
}

.description {
  display: block;
  @include body-small();
  font-weight: 600;
  color: var(--color-muted-foreground);
  margin-bottom: 16px;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
