@import 'design-system/variables/colors.scss';
@import 'design-system/variables/variables.scss';

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 16px;
  min-height: 28px;
  background-color: $color-neutral-700;
}

.captureJob {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  width: 180px;
}

.slider {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
