@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/variables.scss';

.controls {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 16px;
  min-height: 28px;
  background-color: $color-neutral-700;
}

.sliderControls {
  flex: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.detailedControls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}
