.wrapper {
  position: relative;
  width: 100%;
  min-height: 320px;
  margin: 16px auto;
}

.loadingWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  padding: 64px;
  border-radius: 8px;
  border: 1px solid var(--color-border);
  background: var(--color-generic-white);
  color: var(--color-foreground);
}

.content {
  max-width: $breakpoint-md;
  min-height: 320px;
  margin: 0 auto;

  h1 {
    @include heading-small();
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  h2 {
    @include body-xlarge();
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  h3 {
    @include body-base();
    font-weight: 600;
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  p {
    @include body-base();
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  a {
    color: var(--color-primary);
    font-weight: 600;
  }

  strong {
    font-weight: 600;
  }

  ul {
    display: block;
    margin: 0 0 32px 16px;

    li {
      display: list-item;
      @include body-base();

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  ol {
    display: block;
    list-style-type: decimal;
    list-style-position: inside;
    margin: 0 0 32px 16px;

    li {
      display: list-item;
      @include body-base();

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }

    &:has(h2) {
      margin: 0 0 8px;

      li {
        @include body-xlarge();

        h2 {
          display: inline;
        }
      }
    }
  }
}
