@import 'src/design-system/variables/variables.scss';
@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.infoWrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.title {
  @include heading-4-italic();
  color: $color-primary-1-600;
  margin: 0;
}

.divider {
  height: 2px;
  margin: 24px 0;
  background-color: $color-neutral-200;
}

.spacer {
  height: 16px;
}

.projectActions {
  flex: 1;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 8px;
}
