@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.appliedFilter {
  @include bubble-label();
  background-color: $color-generic-white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  span {
    font-size: 12px;
    line-height: 16px;
  }

  .clearButton {
    width: 20px;
    height: 20px;
    border-radius: 0;
    margin-right: -4px;
  }
}
