@import 'design-system/variables/variables.scss';
@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.fetchInfoWrapper {
  height: 32px;
}

.content {
  width: 720px;
  max-width: 100%;
}

.section {
  margin: 32px;
}

.sectionTitle {
  @include paragraph-large();
  color: $color-neutral-800;
  margin: 0 0 16px;
}

.sectionContent {
  border-radius: 4px;
  border: 2px solid $color-neutral-100;
  padding: 32px;
}

.sectionFields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 32px;
}

.sectionStatus {
  grid-column: span 2;
}

.jobStageLabel {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 1;
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .sectionFields {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}
