@import 'src/design-system/variables/variables.scss';
@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.headerContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  .fetchInfoWrapper {
    height: 32px;
  }
}

.content {
  width: 720px;
  max-width: 100%;
}

.status {
  grid-column: span 2;
}

.jobStageLabel {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 1;
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .status {
    grid-column: auto;
  }
}
