@import 'design-system/variables/variables.scss';
@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.buttonWrapper {
  display: flex;
  gap: 16px;
}

.content {
  width: 720px;
  max-width: 100%;
  box-sizing: border-box;
}
