@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  padding: 20px;
  min-width: 180px;
  box-sizing: border-box;
  @include paragraph-small();
  color: $color-neutral-500;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.title {
  font-weight: 600;
}

.link {
  font-weight: 600;
  color: $color-primary-1-600;
}
