.plot {
  max-width: 100%;
  text-align: center;

  :global(.barlayer .point > path) {
    clip-path: inset(0% 0% 0% 0% round 4px);
  }

  &.round {
    :global(.barlayer .point > path) {
      clip-path: inset(0% 0% 0% 0% round 32px);
    }
  }
}
