@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.wrapper {
  padding: 20px;
  min-width: 180px;
}

.description {
  display: block;
  @include paragraph-small();
  font-weight: 600;
  color: $color-neutral-500;
  margin-bottom: 16px;
}

.filters {
  margin-bottom: 16px;
}

.filterLabel {
  display: block;
  @include paragraph-x-small();
  color: $color-neutral-500;

  :not(:last-child) {
    margin-bottom: 4px;
  }
}
