@import 'src/design-system/variables/variables.scss';
@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

$dialog-padding-large: 64px;
$dialog-padding-medium: 32px;

.dialogOverlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  inset: 0;
  z-index: 3;
}

.loadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
}

.dialog {
  all: unset;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: fit-content;
  max-width: calc(100% - (2 * $dialog-padding-large));
  height: calc(100vh - (2 * $dialog-padding-large));
  height: calc(100dvh - (2 * $dialog-padding-large));
  border-radius: 4px;
  background-color: $color-generic-white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  z-index: 3;
  overflow: hidden;

  &.compact {
    height: fit-content;
  }

  &.loading {
    display: none;
  }
}

.dialogContent {
  height: inherit;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}

.dialogHeader {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: $dialog-header-height;
  padding: 0 32px;
  box-sizing: border-box;
  background-color: $color-neutral-50;
  border-bottom: 1px solid $color-neutral-100;
  z-index: 1;
}

.dialogTitle {
  all: unset;
  display: block;
  @include paragraph-large();
  font-weight: 600;
  color: $color-neutral-800;
}

.dialogClose {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0 4px;
  z-index: 2;

  span {
    display: block;
    padding: 0 4px;
    @include paragraph-small();
    font-weight: 600;
    color: $color-neutral-500;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px $color-generic-black;
  }
}

.errorContent {
  padding: 32px;
}

@media only screen and (max-width: $medium-screen-breakpoint) {
  .dialog {
    max-width: calc(100% - (2 * $dialog-padding-medium));
    max-height: calc(100vh - (2 * $dialog-padding-medium));
  }
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .dialog {
    width: 100%;
    height: 100vh;
    height: 100dvh;
    max-width: 100%;
    max-height: 100vh;
    max-height: 100dvh;
    border-radius: 0;
    border: none;

    &.compact {
      width: auto;
      max-width: calc(100% - 32px);
    }
  }

  .dialogContent {
    height: 100%;
  }

  .dialogHeader {
    height: $dialog-header-height-small;
    padding: 0 16px;
  }
}
