@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.tabsList {
  margin-bottom: 16px;

  :not(:last-child) {
    margin-right: 4px;
  }
}

.tabsTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  @include paragraph-small();
  font-weight: 600;
  background-color: transparent;
  padding: 6px 16px;
  border-radius: 16px;

  :not(:last-child) {
    margin-right: 6px;
  }

  > * {
    color: $color-primary-1-600 !important;
  }

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px $color-generic-black;
  }

  &[data-state='active'] {
    background-color: $color-neutral-600;

    > * {
      color: $color-generic-white !important;
    }
  }
}

.tabsContent {
  outline: none;

  &:focus-visible {
    box-shadow: 0 0 0 2px $color-generic-black;
  }
}
