@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.ranks {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 6px;

  &.compact {
    flex-wrap: nowrap;
  }
}

.rank {
  display: block;
  @include paragraph-x-small();
  color: $color-neutral-600;
  white-space: nowrap;

  &.divider {
    color: $color-neutral-500;
  }
}
