@import 'src/design-system/variables/colors.scss';

.mapContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 320px;
  border: 1px solid $color-neutral-100;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}
