@import 'src/design-system/variables/variables.scss';
@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  max-width: 100%;
  display: flex;
  flex: 1;
}

.header {
  padding: 24px;
  background-color: $color-neutral-50;
  border-bottom: 2px solid $color-neutral-100;
  z-index: 1;
}

.info {
  width: 320px;
  padding: 20px 24px 24px;
  box-sizing: border-box;
}

.blueprintWrapper {
  width: 320px;
  position: relative;
  overflow: hidden;
}

.blueprintContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: auto;
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .wrapper {
    width: 100%;
    height: 100%;
    min-width: 320px;
  }

  .content {
    flex-direction: column;
  }

  .blueprintWrapper {
    width: auto;
  }

  .blueprintContainer {
    height: auto;
    position: relative;
    overflow: auto;
  }
}
