@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
}

.title {
  @include paragraph-large();
  font-weight: 600;
  color: $color-neutral-800;
  margin: 0 0 16px 0;
}
