@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.title {
  @include paragraph-large();
  font-weight: 600;
  color: $color-neutral-800;
  margin-bottom: 16px;
}

.fieldGroup {
  margin-bottom: 16px;
}

.fieldLabel {
  display: block;
  @include label();
  font-weight: 600;
  color: $color-neutral-500;
}

.fieldValue {
  display: block;
  @include paragraph-medium();
  color: $color-neutral-800;
}
