@import 'src/design-system/variables/variables.scss';
@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.message {
  @include heading-6();
  color: $color-neutral-500;
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .message {
    margin: 32px 16px;
  }
}
