@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.fetchInfoWrapper {
  position: absolute;
  top: 0;
  right: 0;
}

.connectionStatus {
  .wizardRoot {
    border-width: 1px !important;
  }

  .wizardTrigger {
    padding: 16px 64px;
    background-color: $color-neutral-50;
    @include paragraph-small();
    font-weight: 600;
  }

  .wizardContent {
    border-top: 1px solid $color-neutral-100;
    padding: 32px 64px;
  }

  .firstFileFound {
    width: 100%;
    aspect-ratio: 16/9;
    background-color: $color-primary-2-50;
    border: 1px solid $color-neutral-100;
    border-radius: 4px;
    object-fit: contain;
  }
}
