@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.field {
  margin: 0;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.fieldLabel {
  display: block;
  @include label();
  font-weight: 600;
  color: $color-neutral-300;
}

.fieldValue {
  display: block;
  @include paragraph-medium();
  color: $color-neutral-700;

  &.link {
    color: $color-primary-1-600;
    font-weight: 600;
  }

  &.bubble {
    @include bubble-label();
    display: inline-flex;
    margin-top: 4px;
  }
}
