@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';
@import 'src/design-system/variables/variables.scss';

.buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  padding: 16px;

  span {
    @include label();
    color: $color-neutral-200;
  }
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .buttonContainer {
    span {
      display: none;
    }
  }
}
