@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.iconButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-neutral-100;
  background-color: $color-generic-white;
  box-sizing: border-box;

  // Shape
  &.square {
    width: 28px;
    height: 28px;
    border-radius: 6px;
  }

  &.round {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }

  &.roundLarge {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  // Theme
  &.neutral {
    background-color: $color-neutral-600;
    border-color: $color-neutral-600;
  }

  &.plain {
    background-color: transparent;
    border-color: transparent;
  }

  &.primary {
    background-color: $color-primary-2-500;
    border-color: $color-primary-2-500;
  }

  &.success {
    background-color: $color-success-500;
    border-color: $color-success-500;
  }

  &.error {
    background-color: $color-destructive-100;
    background-color: $color-destructive-100;
  }

  // Other
  &.disabled {
    opacity: 0.5;
  }

  &:hover:not(.disabled) {
    cursor: pointer;
    opacity: 0.7;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px $color-generic-black;
  }
}
