@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';
@import 'src/design-system/variables/variables.scss';

.tableHeader {
  white-space: nowrap;
  vertical-align: middle;
  padding: 2px;
  border-bottom: 2px solid $color-neutral-200;
  background-color: $color-neutral-50;
  text-align: left;

  &.active {
    border-color: $color-neutral-400;
  }
}

.content {
  padding: 16px 32px 16px 16px;
  width: 100%;
  box-sizing: border-box;
}

.columnName {
  span {
    @include paragraph-medium();
    font-weight: 600;
    color: $color-neutral-500;
  }
}

.sortButton {
  display: flex;
  align-items: center;
  position: relative;

  .columnName {
    display: block;
    position: relative;
  }

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px $color-generic-black;
  }
}

.iconWrapper {
  position: absolute;
  top: 50%;
  right: -6px;
  transform-origin: center;
  transform: translate(100%, -50%);
  visibility: hidden;

  &.visible {
    visibility: visible;
  }

  &.ascending {
    transform: translate(100%, -50%) rotate(180deg);
  }
}

.visuallyHidden {
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .content {
    padding: 12px 16px;
  }
}
