.content {
  width: 720px;
  max-width: 100%;
  box-sizing: border-box;

  &.compact {
    width: 320px;
  }
}

.checkboxList {
  padding: 8px 0;
  display: grid;
  gap: 16px;
}

.errorContent {
  padding: 32px;
}
