@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';
@import 'src/design-system/variables/variables.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include body-small();
  padding: 8px 16px;
  border-radius: 4px;
  background-color: $color-green-100;
  color: $color-success-700;
  margin-bottom: 16px;

  p {
    @include body-small();
    margin: 0;
  }

  a {
    font-weight: 600;
  }
}
