.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include body-small;
  padding: 8px 16px;
  border-radius: 4px;
  background-color: var(--color-green-100);
  color: var(--color-success-700);
  margin-bottom: 16px;

  p {
    @include body-small;
    margin: 0;
  }

  a {
    font-weight: 600;
  }
}
