@import 'design-system/variables/variables.scss';
@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 200px;

  span {
    padding: 0 32px;
    white-space: nowrap;
    @include label();
    color: $color-neutral-500;
  }

  .itemContent {
    position: relative;
    padding: 8px 0;
    width: 100%;
  }

  .line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 2px;
    width: 100%;
    background-color: $color-neutral-200;
    z-index: -1;
  }

  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid $color-neutral-200;
    background-color: $color-generic-white;
    box-sizing: border-box;
  }

  &.placeholder {
    flex: 1;

    span:before {
      content: '\200b';
    }
  }

  &:not(.placeholder) {
    &.active {
      span {
        color: $color-success-700;
      }

      .line {
        background-color: $color-success-700;
      }

      .circle {
        border-color: $color-success-700;
        background-color: $color-success-100;
      }
    }

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      box-shadow: 0 0 0 2px $color-generic-black;
    }
  }
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .item {
    span {
      display: none;
    }
  }
}
