@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.wrapper {
  display: flex;
  gap: 16px;
  padding: 20px;
  box-sizing: border-box;
}

.section {
  min-width: 120px;

  .title {
    display: block;
    @include paragraph-small();
    font-weight: 600;
    color: $color-neutral-300;
    margin-bottom: 16px;
  }

  .subTitle {
    display: block;
    @include paragraph-x-small();
    font-weight: 600;
    color: $color-neutral-300;
    margin: 16px 0 8px;
  }

  .info {
    display: block;
    @include paragraph-x-small();
    font-style: italic;
    color: $color-neutral-300;
  }

  .options {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}

.idButton {
  justify-content: flex-start;
}
