@import 'src/design-system/variables/variables.scss';
@import 'src/design-system/variables/colors.scss';

.header {
  position: sticky;
  top: 0;
  left: 0;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  padding: 0 100px;
  background-color: $color-generic-white;
  border-bottom: 1px solid $color-neutral-100;
  box-sizing: border-box;
  z-index: 2;
  overflow-x: auto;
}

.logo {
  object-fit: contain;
  vertical-align: middle;
}

.rightContent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  gap: 4px;
}

.infoPages {
  display: contents;
}

@media only screen and (max-width: $medium-screen-breakpoint) {
  .header {
    padding: 0 32px;
  }
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .header {
    padding: 0 16px;
    gap: 16px;
  }

  .infoPages {
    display: none;
  }
}
