.header {
  position: sticky;
  top: 0;
  left: 0;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 32px;
  padding: 0 100px;
  background-color: var(--color-generic-white);
  border-bottom: 1px solid var(--color-border);
  box-sizing: border-box;
  z-index: 2;
  overflow-x: auto;
}

.logoContainer {
  padding: 2px;
  border-radius: 50%;
}

.logo {
  object-fit: contain;
  vertical-align: middle;
}

.rightContent {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  gap: 4px;
}

.infoPages {
  display: contents;
}

@media only screen and (max-width: $breakpoint-lg) {
  .header {
    padding: 0 32px;
  }
}

@media only screen and (max-width: $breakpoint-md) {
  .header {
    padding: 0 16px;
    gap: 16px;
  }

  .infoPages {
    display: none;
  }
}
