@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  height: 28px;
  padding: 0 16px;
  border-radius: 8px;
  @include paragraph-x-small();
  font-weight: 600;
  border: 1px solid $color-neutral-100;
  outline: none;
  background-color: $color-generic-white;
  color: $color-primary-1-600;
  box-sizing: border-box;
  white-space: nowrap;

  &.success {
    background-color: $color-success-500;
    color: $color-generic-white;
    border-color: $color-success-500;
  }

  &.plain {
    background-color: transparent;
    border-color: transparent;
  }

  &.neutral {
    background-color: $color-neutral-600;
    color: $color-generic-white;
    border-color: $color-neutral-600;
  }

  &.destructive {
    background-color: $color-destructive-500;
    color: $color-generic-white;
    border-color: $color-destructive-500;
  }

  &.error {
    color: $color-destructive-600;
  }

  &:not(.disabled) {
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  &.disabled {
    opacity: 0.5;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px $color-generic-black;
  }
}

.label {
  padding-top: 2px;
}

.details {
  padding-top: 2px;
  @include paragraph-xx-small();
  color: $color-neutral-300;
  font-weight: 600;
  flex-grow: 1;
  text-align: right;
  margin-left: 8px;
}
