@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28px;
  padding: 0 16px;
  border-radius: 8px;
  @include paragraph-x-small();
  font-weight: 600;
  border: 1px solid $color-neutral-100;
  background-color: $color-generic-white;
  color: $color-primary-1-600;
  box-sizing: border-box;
  white-space: nowrap;

  :not(:last-child) {
    margin-right: 6px;
  }

  &.success {
    background-color: $color-success-500;
    color: $color-generic-white;
    border-color: $color-success-500;
  }

  &.plain {
    background-color: transparent;
    border-color: transparent;
  }

  &:not(.disabled) {
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  &.disabled {
    opacity: 0.5;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px $color-generic-black;
  }
}
