@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.wrapper {
  position: relative;
}

.tableWrapper {
  position: relative;
  min-height: 320px;
  padding: 2px;
  overflow-x: auto;
}

.loadingWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overflowFader {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba($color: $color-neutral-50, $alpha: 0),
    rgba($color: $color-neutral-50, $alpha: 1)
  );
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;

  &.visible {
    opacity: 1;
  }
}

.table {
  display: table;
  all: unset;

  tbody,
  td,
  thead,
  tr {
    all: unset;
  }

  thead {
    display: table-header-group;
  }

  tbody {
    position: relative;
    display: table-row-group;

    tr:nth-child(odd) {
      background-color: $color-generic-white;
    }

    &.loading {
      opacity: 0.5;
    }
  }

  tr {
    display: table-row;
  }

  td {
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
  }
}
