@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

table,
tbody,
td,
th,
thead,
tr {
  all: unset;
}

.table {
  display: table;

  thead {
    display: table-header-group;
  }

  tbody {
    display: table-row-group;

    tr:nth-child(odd) {
      background-color: $color-generic-white;
    }
  }

  tr {
    display: table-row;
  }

  th {
    display: table-cell;
    vertical-align: middle;
    padding: 0 32px 14px 16px;
    border-bottom: 2px solid $color-neutral-200;

    span {
      @include paragraph-medium();
      font-weight: 600;
      color: $color-neutral-500;
    }
  }

  td {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
  }

  .fill {
    width: 100%;
  }
}
