@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.wrapper {
  position: relative;
  min-height: 320px;

  &.white {
    .overflowFader {
      background-image: linear-gradient(
        to right,
        rgba($color: $color-generic-white, $alpha: 0),
        rgba($color: $color-generic-white, $alpha: 1)
      );
    }

    .tableContainer {
      tbody {
        tr:nth-child(odd) {
          background-color: $color-neutral-50;
        }
      }
    }
  }
}

.loadingWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overflowFader {
  position: absolute;
  top: 0;
  right: 0;
  width: 64px;
  height: 100%;
  background-image: linear-gradient(
    to right,
    rgba($color: $color-neutral-50, $alpha: 0),
    rgba($color: $color-neutral-50, $alpha: 1)
  );
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease-in-out;

  &.visible {
    opacity: 1;
  }
}

.tableContainer {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;

  .table,
  .tableClone {
    all: unset;
    display: table;
  }

  tbody {
    position: relative;

    tr:nth-child(even) {
      background-color: rgba(255, 255, 255, 0.6);
    }

    tr:nth-child(odd) {
      background-color: $color-generic-white;
    }

    &.loading {
      opacity: 0.5;
    }
  }

  td {
    white-space: nowrap;
    vertical-align: middle;
  }
}
