@import 'src/design-system/variables/variables.scss';
@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.captures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.card {
  background-color: $color-primary-2-50;
  width: 100%;
  border: 1px solid $color-neutral-100;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

.cardContent {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.cancelContainer {
  position: absolute;
  top: 8px;
  right: 8px;
}
