@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.content {
  padding: 32px;
  box-sizing: border-box;
}

.section {
  width: 720px;
  display: grid;
  gap: 48px;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 48px;

  &:not(:last-child) {
    margin-bottom: 48px;
    border-bottom: 2px solid $color-neutral-100;
  }
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  :not(:last-child) {
    margin-right: 10px;
  }
}
