@import 'src/design-system/variables/variables.scss';
@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.statusLabel {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 4px 8px 2px;
  background-color: $color-success-100;
  color: $color-success-700;
  @include paragraph-xx-small();
  font-weight: 700;
  text-transform: uppercase;
}
