@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.tooltipContent {
  padding: 4px 12px;
  border-radius: 4px;
  background-color: $color-generic-white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  color: $color-neutral-800;
  @include paragraph-x-small();
  user-select: none;
  white-space: normal;
  text-align: center;
  z-index: 2;
  max-width: 320px;
  word-break: break-word;

  .tooltipArrow {
    fill: $color-generic-white;
  }
}
