@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

$accessory-wrapper-size: 38px;

.wrapper {
  position: relative;
  min-width: 100%;
}

.content {
  border-radius: 4px;
  background-color: $color-generic-white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 8px;
  max-width: 480px;
  max-height: 320px;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
}

.input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-radius: 4px;
  padding: 8px 12px;
  @include paragraph-small();
  color: $color-neutral-700;
  border: 1px solid $color-neutral-100;
  box-sizing: border-box;
  margin-bottom: 8px;
  padding-right: $accessory-wrapper-size;

  &::placeholder {
    color: $color-neutral-300;
    opacity: 1; /* For Firefox */
  }

  &:focus {
    border-color: $color-success-600;
    box-shadow: 0 0 0 4px $color-success-100;
  }
}

.accessoryWrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: $accessory-wrapper-size;
  height: $accessory-wrapper-size;
}

.item {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 12px;
  border-radius: 4px;
  @include paragraph-small();
  color: $color-neutral-700;
  box-sizing: border-box;

  &:not(.empty) {
    &:hover {
      cursor: pointer;

      &:not(.selected) {
        opacity: 0.7;
      }
    }

    &:focus-visible {
      box-shadow: 0 0 0 2px $color-generic-black;
    }

    &[aria-selected='true'] {
      background-color: $color-primary-2-50;
    }

    &.selected {
      background-color: $color-primary-2-100;
    }
  }

  .accessory {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .spacer {
    flex: 1;
  }

  .details {
    @include paragraph-xx-small();
    color: $color-neutral-300;
    padding: 0 8px 0 32px;
  }
}

/* For simple version */
.arrow {
  fill: $color-generic-white;
}

/* For tree version */
.treeItems {
  position: fixed;

  > div {
    display: grid;
  }

  &:not(.open) {
    display: none;
  }

  .item {
    border-radius: 0;
    white-space: nowrap;

    &:not(.empty) {
      padding: 4px 0;
    }
  }
}
