.container {
  width: 480px;
  overflow: hidden;

  img {
    width: 100%;
    vertical-align: middle;
    border-radius: 4px 4px 0 0;
  }
}

.content {
  padding: 24px;

  p {
    @include body-small;
    color: var(--color-foreground);
    margin: 0;
  }
}

@media only screen and (max-width: $breakpoint-md) {
  .container {
    width: 320px;
  }
}
