@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 2px 24px;
  border-bottom: 1px solid $color-neutral-100;
  background-color: $color-neutral-50;
  box-sizing: border-box;
  z-index: 3;
}

.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.title {
  @include paragraph-large();
  font-weight: 600;
  color: $color-neutral-700;
  margin: 0;
}

.subTitle {
  @include paragraph-small();
  font-weight: 600;
  color: $color-neutral-300;
  margin: 0;
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .wrapper {
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
  }

  .actions {
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .details {
    flex-direction: column;
    align-items: flex-start;
  }
}
