@import 'design-system/variables/variables.scss';
@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.loadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 320px;
}

.main {
  margin-bottom: 32px;
  position: relative;
}

.fetchInfoWrapper {
  position: absolute;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  transform: translateY(-100%);
}

.graphs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;

  span {
    @include paragraph-medium();
    color: $color-neutral-800;
  }
}

.container {
  background-color: $color-generic-white;
  border-radius: 4px;
  border: 1px solid $color-neutral-100;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.content {
  width: 20%;
  padding: 24px;
  box-sizing: border-box;
  overflow: auto;
}

.info {
  height: 0;
}

.playback {
  width: 80%;
}

@media only screen and (max-width: $medium-screen-breakpoint) {
  .container {
    flex-direction: column-reverse;
  }

  .info {
    height: auto;
  }

  .playback {
    width: 100%;
  }

  .content {
    width: 100%;
  }
}
