@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';
@import 'design-system/variables/variables.scss';

.loadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 320px;
}

.main {
  position: relative;
}

.fetchInfoWrapper {
  position: absolute;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  transform: translateY(-100%);
}

.playbackWrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 32px;

  > * {
    width: 100%;
  }
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.detailsContainer {
  background: $color-generic-white;
  width: 100%;
  border-radius: 4px;
  border: 1px solid $color-neutral-100;
  overflow-x: auto;
}

.detailsContent {
  padding: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.sessionInfo {
  width: 100%;
}

.text {
  @include paragraph-medium();
  color: $color-neutral-800;
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .playbackWrapper {
    margin-bottom: 16px;
  }

  .details {
    grid-template-columns: 1fr;
  }

  .detailsContent {
    padding: 16px;
  }
}
