@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';
@import 'src/design-system/variables/variables.scss';

.loadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 320px;
}

.main {
  position: relative;
}

.fetchInfoWrapper {
  position: absolute;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  transform: translateY(-100%);
}

.playbackWrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin-bottom: 32px;

  > * {
    width: 100%;
  }
}

.sessionInfo {
  width: 100%;
}

.text {
  @include paragraph-medium();
  color: $color-neutral-700;
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .playbackWrapper {
    margin-bottom: 16px;
  }
}
