@import 'src/design-system/variables/variables.scss';
@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.identificationCard {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid $color-neutral-100;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  position: relative;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
