@import 'design-system/variables/variables.scss';
@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.wrapper {
  border-radius: 4px;
  border: 1px solid $color-neutral-100;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  position: relative;
}

.taxonActions {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.formActions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.formError {
  width: 100%;
  @include paragraph-x-small();
  padding: 8px 16px;
  background-color: $color-destructive-100;
  color: $color-destructive-600;
  box-sizing: border-box;
}
