@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.capture {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  height: 40px;
  padding: 0 16px;
  @include paragraph-xx-small();
  font-weight: 700;
  text-transform: uppercase;
  color: $color-neutral-200;
  box-sizing: border-box;

  .numDetections {
    opacity: 0;
  }

  .bar {
    height: 8px;
    width: 100%;
    min-width: 9px;
    border-radius: 4px;
    background-color: $color-success-300;
  }

  .timestamp {
    opacity: 0;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.7;

    .numDetections {
      opacity: 1;
    }

    .timestamp {
      opacity: 1;
    }
  }

  &.empty {
    .bar {
      background-color: $color-neutral-500;
    }
  }

  &.active {
    background-color: #383a3c;

    .numDetections {
      opacity: 1;
    }

    .bar {
      background-color: $color-generic-white;
    }

    .timestamp {
      opacity: 1;
    }
  }
}
