@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';
@import 'src/design-system/variables/variables.scss';

.container {
  width: 240px;
  margin: 0 8px;

  input {
    margin: 0;
    background-color: $color-generic-white;
  }
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .container {
    display: none;
  }
}
