@import 'src/design-system/variables/variables.scss';
@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.version {
  @include paragraph-x-small();
  color: $color-neutral-700;
  white-space: nowrap;
}
