@import 'src/design-system/variables/variables.scss';
@import 'src/design-system/variables/typography.scss';

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.version {
  @include body-small();
  color: var(--color-foreground);
  white-space: nowrap;
}
