@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.container {
  max-width: 100%;
}

.labelRow {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 4px;
}

.label {
  display: block;
  @include paragraph-small();
  font-weight: 600;
  color: $color-neutral-800;
}

.error {
  display: block;
  @include paragraph-x-small();
  color: $color-destructive-600;
  text-align: right;
  margin-left: 32px;

  &::first-letter {
    text-transform: capitalize;
  }
}

.value {
  display: block;
  @include paragraph-small();
  color: $color-neutral-500;
  white-space: pre-wrap;

  &.link {
    color: $color-primary-1-600;
  }
}

.description {
  display: block;
  @include paragraph-small();
  color: $color-neutral-500;
  font-style: italic;
  word-break: break-word;
}

.inputContainer {
  position: relative;

  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.input {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border-radius: 4px;
  padding: 8px 12px;
  @include paragraph-small();
  background-color: $color-generic-white;
  color: $color-neutral-800;
  border: 1px solid $color-neutral-300;
  box-sizing: border-box;

  &.password {
    padding-right: 36px; /* To leave room for show/hide password button */
  }

  &::placeholder {
    color: $color-neutral-500;
    opacity: 1; /* For Firefox */
  }

  &:hover:not(:focus):not(:disabled) {
    opacity: 0.7;
  }

  &:focus {
    border-color: $color-success-600;
    box-shadow: 0 0 0 4px $color-success-100;
  }

  &[aria-invalid='true'] {
    border-color: $color-destructive-600;

    &:focus {
      box-shadow: 0 0 0 4px $color-destructive-100;
    }
  }

  &:disabled {
    opacity: 0.5;
  }

  &.noArrows {
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    &[type='number'] {
      -moz-appearance: textfield;
    }
  }
}

.passwordButtonContainer {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
}

.content {
  &:not(:last-child) {
    margin-bottom: 8px;
  }
}

.lockedInputContainer {
  position: relative;
}

.editButtonContainer {
  position: absolute;
  top: -8px;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
