@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.galleryContent {
  padding-top: 32px;
}

.taxonCell {
  .taxonCellContent {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .taxonActions {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
  }
}

.scoreCell {
  .scoreCellContent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
  }

  .scoreCellLabel {
    display: block;
    @include paragraph-medium();
    color: $color-neutral-800;
  }
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .galleryContent {
    padding-top: 16px;
  }
}
