@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.wrapper {
  padding: 32px 0;
}

.occurrencesContent {
  padding: 16px 0;
}

.galleryContent {
  display: flex;
  align-items: flex-start;
  padding: 16px;
}

.sidebar {
  width: 262px;
  background-color: $color-neutral-200;
  height: 400px;
  margin-right: 16px;
}

.gallery {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
}
