@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.infoWrapper {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 32px;
  gap: 16px;
  z-index: 1;
}

.tableContent {
  padding: 16px 0;
  position: relative;
}

.galleryContent {
  display: flex;
  align-items: flex-start;
  padding: 16px 0;
}

.settingsWrapper {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
  transform: rotate(90deg);
}

.taxonCell {
  .taxon {
    min-width: 240px;
    margin-bottom: 8px;
  }

  .taxonActions {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
  }
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .tableContent,
  .galleryContent {
    padding: 0;
  }

  .settingsWrapper {
    top: 14px;
  }
}
