@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.tableContent {
  padding: 16px 0;
  position: relative;
}

.galleryContent {
  display: flex;
  align-items: flex-start;
  padding: 16px 0;
}

.settingsWrapper {
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
  transform: rotate(90deg);
}

.sidebar {
  width: 262px;
  background-color: $color-neutral-200;
  height: 400px;
  margin-right: 16px;
}
