@import 'src/design-system/variables/variables.scss';
@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.imageWrapper {
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 128px 64px;
  box-sizing: border-box;
}

.intro,
.form,
.outro {
  width: 320px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  &.form {
    align-items: stretch;
    gap: 32px;
  }
}

.title {
  @include heading-4-italic();
  color: $color-primary-1-600;
  margin: 0;
}

.text {
  @include paragraph-small();
  color: $color-neutral-700;
  text-align: center;
  margin: 0;

  a {
    color: $color-primary-1-600;
    border-bottom: 1px dashed $color-primary-1-600;
  }

  strong {
    font-weight: 600;
  }

  &.divider {
    color: $color-neutral-300;
  }

  &.error {
    @include paragraph-x-small();
    padding: 8px 32px;
    border-radius: 4px;
    background-color: $color-destructive-100;
    color: $color-destructive-600;
  }

  &.success {
    @include paragraph-x-small();
    padding: 8px 32px;
    border-radius: 4px;
    background-color: $color-success-100;
    color: $color-success-700;
  }
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .imageWrapper {
    display: none;
  }

  .content {
    padding: 0;
  }

  .form {
    width: 256px;
  }
}
