.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.imageWrapper {
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
  padding: 128px 64px;
  box-sizing: border-box;
}

.intro,
.form,
.outro {
  width: 320px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  &.form {
    align-items: stretch;
    gap: 32px;
  }
}

.title {
  @include heading-small;
  color: var(--color-primary);
  margin: 0;
}

.text {
  @include body-small;
  color: var(--color-foreground);
  text-align: center;
  margin: 0;

  a {
    color: var(--color-primary);
    border-bottom: 1px dashed var(--color-primary);
  }

  strong {
    font-weight: 600;
  }

  &.divider {
    color: var(--color-muted-foreground);
  }

  &.error {
    @include body-small;
    padding: 8px 32px;
    border-radius: 4px;
    background-color: var(--color-destructive-100);
    color: var(--color-destructive);
  }

  &.success {
    @include body-small;
    padding: 8px 32px;
    border-radius: 4px;
    background-color: var(--color-green-100);
    color: var(--color-success-700);
  }
}

@media only screen and (max-width: $breakpoint-md) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  .imageWrapper {
    display: none;
  }

  .content {
    padding: 0;
  }

  .form {
    width: 256px;
  }
}
