@import 'src/design-system/variables/typography.scss';

.content {
  width: 720px;
  max-width: 100%;
  box-sizing: border-box;
}

.dialogTrigger {
  @include body-base();
  color: var(--color-primary);
  font-weight: 600;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--color-generic-black);
  }
}

.tableContainer {
  max-width: 100%;
  overflow: hidden;
}

.errorContent {
  padding: 32px;
}
