@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.root {
  display: flex;
  gap: 2px;
  height: 28px;
  border: 1px solid $color-neutral-100;
  background-color: $color-generic-white;
  box-sizing: border-box;
  border-radius: 6px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 100%;
  outline: none;

  &.active {
    background-color: $color-neutral-600;
  }

  &.first {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &.last {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px $color-generic-black;
  }
}
