@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.entityActions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding: 16px;
}

.dialogContent {
  width: 480px;
  max-width: 100%;
  box-sizing: border-box;
}

.dialogTrigger {
  @include paragraph-medium();
  color: $color-primary-1-600;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px $color-generic-black;
  }
}
