@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/variables.scss';

.box {
  background: $color-generic-white;
  width: 100%;
  border-radius: 4px;
  border: 1px solid $color-neutral-100;
  overflow-x: auto;
}

.boxContent {
  padding: 32px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  height: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .boxContent {
    padding: 16px;
  }
}
