@import 'design-system/variables/colors.scss';
@import 'design-system/variables/variables.scss';

.wrapper {
  display: flex;
}

.playbackFrame {
  width: 80%;
}

.capturePicker {
  width: 20%;
  min-width: 320px;
  background-color: $color-neutral-800;
  position: relative;
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .wrapper {
    flex-direction: column;
  }

  .playbackFrame {
    width: 100%;
  }

  .capturePicker {
    width: 100%;
    min-width: auto;
    height: 240px;
  }
}
