@import 'design-system/variables/colors.scss';

.wrapper {
  display: flex;
}

.frameWrapper {
  width: 80%;
}

.capturePicker {
  width: 20%;
  min-width: 320px;
  background-color: $color-neutral-800;
  position: relative;
}
