@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  border-radius: 8px;
  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 64px;
  width: 300px;
  background-color: $color-neutral-700;
  padding: 16px;
}

.sidebarSection {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;

  .title {
    display: block;
    @include label();
    color: $color-neutral-200;
  }
}

.bottomBar {
  grid-column: span 2;
  background-color: $color-neutral-800;
  height: 64px;
}
