@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.userInfo {
  width: 32px;
  height: 32px;
  background-color: $color-primary-2-50;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: none;
  @include paragraph-small();
  font-weight: 600;
  color: $color-primary-1-600;
  text-transform: uppercase;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  &:focus-visible {
    box-shadow: 0 0 0 2px $color-generic-black;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  width: 720px;
  max-width: 100%;
  box-sizing: border-box;
}
