@import 'src/design-system/variables/variables.scss';

.captureInfo {
  display: flex;
  gap: 16px;
}

.jobControls {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 16px;
}

.pipelinesPickerContainer {
  max-width: 100%;
  overflow: auto;
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .jobControls {
    grid-template-columns: 1fr auto;
    gap: 16px;
  }

  .pipelinesPickerContainer {
    grid-column: span 2;
  }
}
