@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.content {
  min-width: 640px;
  max-width: 100%;
  padding: 24px 32px;
  color: $color-neutral-800;

  h1 {
    @include heading-5();
    margin: 16px 0;
  }

  h2 {
    @include heading-6();
    margin: 16px 0;
  }

  h3 {
    @include paragraph-large();
    margin: 16px 0;
  }

  p {
    @include paragraph-small();
    margin: 0 0 8px 0;
  }

  a {
    color: $color-primary-1-600;
  }
}
