@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.section {
  background: $color-generic-white;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid $color-neutral-100;
  overflow-x: auto;
}

.plots {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
}

.plotWrapper {
  margin-right: 32px;
}

.title {
  display: block;
  @include label();
  font-weight: 600;
  color: $color-neutral-500;
  margin-bottom: 32px;
}
