@import 'src/design-system/variables/variables.scss';
@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.loadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 320px;
}

// About
.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 8px;
  border: 1px solid $color-neutral-100;
  background: $color-generic-white;
  overflow: hidden;
  margin: 0 0 32px;
}

.aboutImage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: $color-primary-2-50, $alpha: 0.5);
  border-right: 1px solid $color-neutral-100;

  img {
    position: absolute;
    top: 32px;
    right: 32px;
    width: calc(100% - 64px);
    height: calc(100% - 64px);
    object-fit: contain;
  }
}

.aboutInfo {
  padding: 32px;
  box-sizing: border-box;
}

// Text
.title {
  @include paragraph-large();
  font-weight: 600;
  color: $color-neutral-700;
  margin: 0 0 16px;
}

.description {
  @include paragraph-medium();
  color: $color-neutral-700;
  margin: 0 0 16px;
}

// Small screen adjustments
@media only screen and (max-width: $medium-screen-breakpoint) {
  .about {
    grid-template-columns: 1fr;
  }

  .aboutImage {
    display: none;
  }

  .aboutInfo {
    max-width: none;
  }
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .aboutInfo {
    padding: 16px;
  }
}
