@import 'design-system/variables/variables.scss';
@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.loadingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

// About
.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-radius: 8px;
  border: 1px solid $color-neutral-100;
  background: $color-generic-white;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.aboutImage {
  background-color: $color-generic-white;
  position: relative;

  img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.aboutInfo {
  padding: 32px;
  box-sizing: border-box;
}

// Plots
.plotsContainer {
  background: $color-generic-white;
  width: 100%;
  border-radius: 8px;
  border: 1px solid $color-neutral-100;
  padding: 32px;
  box-sizing: border-box;
  overflow-x: auto;
}

.plotsContent {
  display: inline-block;
  min-width: 100%;
}

.plots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

// Text
.title {
  @include paragraph-large();
  font-weight: 600;
  color: $color-neutral-800;
  margin: 0 0 16px;
}

.description {
  @include paragraph-medium();
  color: $color-neutral-800;
  margin: 0 0 16px;
}

.label {
  display: block;
  @include label();
  font-weight: 600;
  color: $color-neutral-500;
  margin: 0 0 32px;
}

// Small screen adjustments
@media only screen and (max-width: $medium-screen-breakpoint) {
  .about {
    grid-template-columns: 1fr;
  }

  .aboutImage {
    display: none;
  }

  .aboutInfo {
    max-width: none;
  }
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .plots {
    grid-template-columns: 1fr;
  }
}
