@import 'src/design-system/variables/variables.scss';
@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.gallery {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 16px;
  width: 100%;
  min-height: 320px;

  &.loading {
    margin: 0;

    .cardWrapper {
      opacity: 0.5;
    }
  }
}

.loadingWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: $medium-screen-breakpoint) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr !important;

    &.large {
      grid-template-columns: 1fr 1fr !important;
    }
  }
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .gallery {
    grid-template-columns: 1fr 1fr !important;

    &.large {
      grid-template-columns: 1fr !important;
    }
  }
}
