@import 'design-system/variables/variables.scss';
@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.message {
  @include heading-6();
  color: $color-neutral-500;
}

.details {
  display: block;
  @include paragraph-small();
  font-family: monospace;
  padding: 24px;
  color: $color-neutral-500;
  background: $color-generic-white;
  border-radius: 8px;
  border: 1px solid $color-neutral-100;
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .wrapper {
    margin: 32px 16px;
  }
}
