@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.message {
  @include heading-6();
  color: $color-neutral-300;
}

.details {
  display: block;
  @include paragraph-small();
  font-family: monospace;
  padding: 24px;
  color: $color-neutral-300;
  background: $color-generic-white;
  border-radius: 8px;
  border: 1px solid $color-neutral-100;
}
