[[redirects]]
# Serve the api docs from /api/
from = "/docs/"
to = "API_BASE_URL_PLACEHOLDER/docs/:splat"
status = 200
force = true
headers = { X-From = "Netlify" }

[[redirects]]
# Serve the external api endpints from /api/*
from = "/api/*"
to = "API_BASE_URL_PLACEHOLDER/api/:splat"
status = 200
force = true
headers = { X-From = "Netlify" }

[[redirects]]
# Serve the external images from from /static/images/*
from = "/static/captures/*"
to = "API_BASE_URL_PLACEHOLDER/static/captures/:splat"
status = 200
force = true
headers = { X-From = "Netlify" }

[[redirects]]
# Serve the external images from from /static/images/*
from = "/static/crops/*"
to = "API_BASE_URL_PLACEHOLDER/static/crops/:splat"
status = 200
force = true
headers = { X-From = "Netlify" }

[[redirects]]
# Redirect root to overview page
from = "/"
to = "/overview"
status = 302
force = false

[[redirects]]
# Redirect all other paths to the root for React to handle
from = "/*"
to = "/"
status = 200
force = false

[build]
# Only trigger a build if the frontend code has changed
command = "sed -i \"s|API_BASE_URL_PLACEHOLDER|${API_BASE_URL}|g\" netlify.toml && cat netlify.toml && yarn build && yarn build-storybook"
ignore = "git diff --quiet $CACHED_COMMIT_REF $COMMIT_REF ./"
