@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 320px;
  margin: -8px;

  &.loading {
    margin: 0;

    .cardWrapper {
      opacity: 0.5;
    }
  }
}

.cardWrapper {
  width: 160px;
  margin: 8px;
}

.loadingWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
