@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconWrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
