@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.wrapper {
  position: relative;
}

.label {
  display: block;
  @include paragraph-small();
  font-weight: 600;
  color: $color-neutral-700;
  margin-bottom: 4px;
}

.clear {
  display: block;
  position: absolute;
  left: 0;
  bottom: -8px;
  transform: translateY(100%);
  @include paragraph-small();
  color: $color-primary-1-600();
  font-weight: 600;

  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }
}

.selectTrigger {
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
  height: 48px;
  border-radius: 6px;
  padding: 0 16px;
  @include paragraph-small();
  color: $color-neutral-700;
  border: 1px solid $color-neutral-100;
  box-sizing: border-box;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &[data-placeholder] {
    color: $color-neutral-300;
  }

  &:not(.disabled) {
    cursor: pointer;

    &:hover:not(:focus) {
      opacity: 0.7;
    }
  }

  &.disabled {
    opacity: 0.5;
  }

  &:focus,
  &[data-state='open'] {
    border-color: $color-success-600;
    box-shadow: 0 0 0 4px $color-success-100;
  }

  &.neutralCompact {
    height: 28px;
    padding: 0 16px;
    @include paragraph-x-small();
    font-weight: 600;
    background-color: $color-neutral-600;
    color: $color-generic-white;
    border-color: $color-neutral-600;
    margin-bottom: 0;

    &:focus,
    &[data-state='open'] {
      border-color: none;
      box-shadow: none;
    }
  }
}

.selectIcon {
  transform: rotate(-90deg);
}

.selectContent {
  border-radius: 4px;
  background-color: $color-generic-white;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 50;
}

.selectViewport {
  padding: 8px;
}

.selectItem {
  all: unset;
  display: flex;
  padding: 8px 12px;
  border-radius: 4px;
  align-items: center;
  justify-content: space-between;
  @include paragraph-small();
  color: $color-neutral-700;
  cursor: pointer;

  &[data-highlighted],
  &:hover {
    background-color: $color-primary-2-50;
  }

  &[data-state='checked'] {
    background-color: $color-primary-2-100;
  }
}

.itemIndicator {
  margin-left: 32px;
  display: inline-flex;
  align-items: center;
}
