@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-neutral-100;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
}

.square {
  position: relative;
  background-color: $color-generic-white;
  border-bottom: 1px solid $color-neutral-100;
  overflow: hidden;
}

.square::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.image {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1;
  padding: 16px;
  background-color: $color-generic-white;
  position: relative;
}

.title {
  color: $color-neutral-700;
  font-style: italic;
  word-break: break-word;

  &.medium {
    @include paragraph-small();
  }

  &.large {
    @include paragraph-medium();

    &:not(:last-child) {
      margin-bottom: 2px;
    }
  }
}

.subTitle {
  color: $color-neutral-600;

  &.medium {
    @include paragraph-xx-small();
  }

  &.large {
    @include paragraph-x-small();
  }
}
