@font-face {
  font-family: 'AzoSans';
  src: url('/fonts/AzoSans/AzoSans.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AzoSans';
  src: url('/fonts/AzoSans/AzoSans-Italic.otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'AzoSans';
  src: url('/fonts/AzoSans/AzoSans-Medium.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AzoSans';
  src: url('/fonts/AzoSans/AzoSans-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'AzoSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
fieldset,
input,
li,
ul,
ol {
  all: unset;
}

a {
  display: inline-block;
  outline: none;
  color: inherit;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
  opacity: 0.7;
}
a:focus-visible {
  box-shadow: 0 0 0 2px #000000;
}
