@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: 100%;
  padding: 32px;
  background-color: $color-generic-white;
  @include paragraph-medium();
  color: $color-neutral-800;
  box-sizing: border-box;
}

.iconWrapper {
  display: flex;
}
