name: Backend Tests

# Enable Buildkit and let compose use it to speed up image building
env:
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

on:
  pull_request:
    branches: ["master", "main"]
    paths-ignore: ["docs/**", "ui/**"]

  push:
    branches: ["master", "main"]
    paths-ignore: ["docs/**", "ui/**"]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"
      # Consider using pre-commit.ci for open source project
      - name: Run pre-commit
        uses: pre-commit/action@v3.0.1

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v6

      - name: Build the Stack
        run: docker compose -f docker-compose.ci.yml build

      - name: Run DB Migrations
        run: docker compose -f docker-compose.ci.yml run --rm django python manage.py migrate

      - name: Run Django Tests
        run: docker compose -f docker-compose.ci.yml run --rm django python manage.py test

      - name: Tear down the Stack
        run: docker compose -f docker-compose.ci.yml down
