@import 'design-system/variables/colors.scss';
@import 'design-system/variables/typography.scss';

.captures {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  scroll-padding: 48px 0;
  padding: 48px 0;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.message {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 2fr 2fr 1fr;
  height: 40px;
  @include paragraph-x-small();
  font-weight: 600;
  color: $color-neutral-200;
  gap: 16px;
  margin: 0;
}

.messageText {
  grid-column-start: 2;
}
