@import 'src/design-system/variables/colors.scss';
@import 'src/design-system/variables/typography.scss';
@import 'src/design-system/variables/variables.scss';

.wrapper {
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  :not(:last-child) {
    margin-right: 6px;
  }

  span {
    @include paragraph-x-small();
    font-weight: 600;
    color: $color-neutral-300;
  }
}

@media only screen and (max-width: $small-screen-breakpoint) {
  .wrapper {
    display: none;
  }
}
